.MMM-MacAddressScan .deviceCell {
  text-align: left;
}

.MMM-MacAddressScan .deviceCell i {
  padding-left: 0;
  padding-right: 10px;
}

.MMM-MacAddressScan .dateCell {
  padding-left: 30px;
  text-align: right;
}
